<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    body {
        background-color: white;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.85);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn-primary {
        background-color: #000000;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #5e61be;
        border-color: #0056b3;
    }
</style>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
        style="background: linear-gradient(180deg, #0b0c3b, #4c49a0);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" href="">
                            <img src="{% static 'img/m_gadgets.logo.jpg' %}" alt="" style="height: 50px;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add_product">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add_phone">Add Phone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bookings">View Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Add product</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="pro_id" class="form-label">Product ID</label>
                <input type="text" name="pro_id" id="" class="form-control" placeholder="Product id">
            </div>
            <div class="col-md-6">
                <label for="name" class="form-label">Product Name</label>
                <input type="text" name="name" id="" class="form-control" placeholder="name">
            </div>
            <div class="col-md-6">
                <label for="price" class="form-label">Product Price</label>
                <input type="number" name="price" id="" class="form-control" placeholder="price">
            </div>
            <div class="col-md-6">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="description" id="" class="form-control" placeholder="description">
            </div>
            <div class="col-md-6">
                <label for="offer_price" class="form-control">Offer_Price</label>
                <input type="number" name="offer_price" id="" class="form-control" placeholder="offer price">
            </div>
            <div class="col-md-6">
                <label for="img" class="form-label">Product Image</label>
                <input type="file" name="img" id="" class="form-control" required>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Add Product</button>
            </div>
            <!-- <input type="submit" value="Add_product"> -->
        </form>
    </div>


</body>

</html>